<div class="container text-center card">
<h1>Group</h1>
        <h3>Host: <%= @group.user.username.capitalize %></h3>
        <h3>Group: <%= @group.name %></h3>
        <h3>Icon: <%= image_tag @group.icon.url class: "icon" %></h3>
    <hr>
  
    <p><%= link_to 'ADD NEW', new_group_path, class: 'btn btn-success' %></p>

</div>