<div class = "container mt-3">   
  <div class = 'row'>
      <div class = 'col-10 card p-3 text-center'>
          <h3>All Transactions</h3>
              <% @transactions.each do |transaction| %>
                <% if logged_in? %>
                    <p><strong>Host:</strong> <%= transaction.user.username.capitalize %></p>
                <% end -%>
                  <p><strong>Name:</strong> <%= transaction.name %></p>
                  <p><strong>Amount:</strong> <%= transaction.amount %></p>
                  <p><strong>Group:</strong> <%= transaction.group.name %></p>
                  
                  <hr>
              <% end %>
      </div>
   </div>
</div>
      